@model IEnumerable<DbApp2.Models.Database.Product>

@{
    ViewData["Title"] = "Produkty";
}

<h2>Lista wszystkich porduktów</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Delivery Date</th>
            <th>Expiration Date</th>
            <th>Price</th>
            <th>Series</th>
            <th>Place</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => product.Name)</td>
                <td>@Html.DisplayFor(modelItem => product.DeliveryDate)</td>
                <td>@Html.DisplayFor(modelItem => product.ExpirationDate)</td>
                <td>@Html.DisplayFor(modelItem => product.Price)</td>
                <td>@Html.DisplayFor(modelItem => product.Series)</td>
                <td>@Html.DisplayFor(modelItem => product.Place)</td>
            </tr>
        }
    </tbody>
</table>