@model IEnumerable<DbApp2.Models.Database.Sold>

@{
    ViewData["Title"] = "Sprzedane";
}
<h2>Sprzedane produkty</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.Count)</th>
            <th>@Html.DisplayNameFor(model => model.Value)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var sold in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => sold.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => sold.Count)</td>
                <td>@Html.DisplayFor(modelItem => sold.Value)</td>
            </tr>
        }
    </tbody>
</table>